<launch>
    <arg name="lidar_frame" default="lidar"/>   
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
        <param name="port" value="/dev/hldslidar"/>
        <param name="frame_id" value="$(arg lidar_frame)"/>
    </node>
</launch>