<launch>
  <arg name="lidar_frame" default="lidar"/>   

  <node name="iiiroboticslidar2"    pkg="iiiroboticslidar2"  type="iiirobotics_lidar2_node" >
    <param name="serial_port"         type="string" value="/dev/iiilidar"/>
    <param name="frame_id"            type="string" value="$(arg lidar_frame)"/>
  </node>

</launch>
