<launch>
  <arg name="simulation" default= "false"/> 
  <param name="/use_sim_time" value="$(arg simulation)" />  
  <!-- slam_karto -->
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find robot_navigation)/config/karto_params.yaml" />
  </node>
</launch>