<launch>
    <!--robot bast type use different tf value-->
    <arg name="base_type"       default="$(env BASE_TYPE)" />
    <!-- robot frame -->
    <arg name="base_frame"       default="/base_footprint" />    
    <arg name="lidar_type"       default="$(env LIDAR_TYPE)" />   
    <arg name="lidar_frame" default="base_laser_link"/>  

    <include file="$(find robot_navigation)/launch/lidar/$(arg lidar_type).launch">
        <arg name="lidar_frame"            value="$(arg lidar_frame)"/>
    </include>

    <group if="$(eval base_type == 'NanoRobot')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="-0.01225 0.0 0.18 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == 'NanoRobot_Pro')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="-0.0515 0.0 0.18 -1.5708 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == '4WD')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.01 0.0 0.25 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == '4WD_OMNI')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.01 0.0 0.25 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == 'NanoCar')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.0624 0.0 0.115 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == 'NanoCar_Pro')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.115 0.0 0.165 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>
    <group if="$(eval base_type == 'NanoCar_SE')">
        <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.095 0.0 0.115 1.5708 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
        </node>
    </group>





</launch>