<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find robot_navigation)/maps/map.yaml"/>
  <arg name="simulation" default= "false"/> 
  <arg name="planner"  default="dwa" doc="opt: dwa, teb"/> 
  <arg name="open_rviz" default="false"/>

  <group if="$(arg simulation)">
    <!-- simulation robot with lidar and map-->
    <include file="$(find robot_navigation)/simulation/simulation.launch"/>
  </group>

  <group unless="$(arg simulation)">
    <!-- robot with lidar -->
    <include file="$(find robot_navigation)/launch/robot_lidar.launch">
          <!--<arg name="robot_name"            value="$(arg robot_name)"/>-->
    </include>
    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
      <param name="frame_id" value="map"/>
    </node>
    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find robot_navigation)/param/$(env BASE_TYPE)/amcl_params.yaml" command="load" />
      <param name="initial_pose_x"            value="0.0"/>
      <param name="initial_pose_y"            value="0.0"/>
      <param name="initial_pose_a"            value="0.0"/>
    </node>
  </group>

  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/move_base.launch" >
    <arg name="planner"            value="$(arg planner)"/>
    <arg name="simulation"            value="$(arg simulation)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_navigation)/rviz/navigation.rviz"/>
  </group>

</launch>